.card{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.highlight {
    grid-area: highlight;
    background-image: url(../../images/products/card_imagem.jpg);
}

.product-grid{
    display: grid
}


.sneaker-purple{
    grid-area: sneaker-purple;
    background-image: url(../../images/products/roxo-verde-grid.jpg);

   
}

.model{
    background-image: url(../../images/products/modelo-feminino.jpg);
}

.sneaker-color{
    grid-area: sneaker-color;
    background-image: url(../../images/products/futurista-grid.jpg)
}

.sneaker-white{
    grid-area: sneaker-white;
    background-image: url(../../images/products/preto-branco-grid.jpg);
}

.sneaker-silver{
    grid-area: sneaker-silver;
    background-image: url(../../images/products/moderno-grid.jpg);
}



.grid-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "highlight highlight sneaker-purple sneaker-purple"
        "highlight highlight model sneaker-color"
        "sneaker-white sneaker-white model sneaker-silver";
    gap: 30px;
}